@import '_reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');
$font_stack:    'Barlow', sans-serif;
$cc_softred:   hsl(7, 99%, 70%);
$cc_yellow:  hsl(51, 100%, 49%);
$cc_darkdescyan:     hsl(167, 40%, 24%);
$cc_darkbluephoto:  hsl(198, 62%, 26%);
$cc_darkmodcyan:   hsl(168, 34%, 41%);
$cc_vdarkdescyan:   hsl(212, 27%, 19%);
$cc_vdarkgreyblue:  hsl(213, 9%, 39%);
$cc_darkgreyblue:hsl(232, 10%, 55%);
$cc_grayblue:   hsl(210, 4%, 67%);
$cc_white:  hsl(0, 0%, 100%);
$cs_pagewidth:  1440px;
$cs_halfwidth:  720px;
$cs_quarterwidth:   360px;
header{
    width:$cs_pagewidth;
    height: 800px;
    border-collapse: collapse;    
    background-repeat: no-repeat;
    background-size:cover;
    
}
main{
    width:$cs_pagewidth;
    height: 100%;
}
footer{
    width:$cs_pagewidth;
    height: 500px;
    border-collapse: collapse;    
    background-repeat: no-repeat;
    background-size:cover;
    background-color:$cc_darkmodcyan;
}
.leftpane{
    width:$cs_halfwidth;
    min-height: 600px;
    float: left;
    border-collapse: collapse;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 720px;
}    
.rightpane{
    width:$cs_halfwidth;
    min-height: 600px;
    position: relative;
    float: right;
    border-collapse: collapse;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 720px;
}
.ci_halforange{
    background-image: url('img/image-header.jpg');
}
.ci_egg{
    background-image: url('img/image-transform.jpg');
}
.ci_goblet{
    background-image: url('img/image-stand-out.jpg');
}
.ci_mandarin{
    background-image: url('img/image-photography.jpg');
}
.ci_cherry{
    background-image: url('img/image-graphic-design.jpg');
}
.ci_bottles{
    background-image: url('img/image-gallery-milkbottles.jpg');
}
.ci_orangeplate{
    background-image: url('img/image-gallery-orange.jpg');
}
.ci_cone{
    background-image: url('img/image-gallery-cone.jpg');
}
.ci_sugar{
    background-image: url('img/image-gallery-sugarcubes.jpg');
}
.llpane{
    width:$cs_quarterwidth;
    min-height: 500px;
    float: left;
    border-collapse: collapse;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.rrpane{
    width:$cs_quarterwidth;
    min-height: 500px;
    float: right;
    border-collapse: collapse;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    font-size: 20px;
    color: white;
}
a{
    text-decoration: none;
}
.contactbutton{
    background-color: $cc_white;
    border-radius: 25px;
}
li{
    display: inline;   
}
ul{
    display: flex;
    margin: 200px 200px 200px 200px;
}
h1{
    font-size: 65px;
    color: white;
    text-align: center;
    text-transform:uppercase;
}
h2{
    font-size: 45px;
    text-align: center;
}
h3{
    font-size: 35px;
    text-align: center;
}
h4{
    font-size: 30px;
}
h5{
    font-size: 22px;
    font-weight:bold;
    text-align: center;

}
.roundedphoto{
    border-radius: 50%;    
}
.heightsection{
    height: 600px;
}
.alignbottom {
    position: absolute;
    text-align: center;
    bottom: 80px;
    left: 200px;
    right: 200px;
    
  }